//--------------------------------------------------------------
// Archives
//--------------------------------------------------------------

.tag .site-header,
.archive .site-header {
    margin-bottom: 0;
}

.tag .site-main > header,
.archive .site-main > header {
    text-align: center;
    color: white;
    background: #ff7043;
    max-width: 100%;
    position: relative;
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
}
