//--------------------------------------------------------------
// Blog/Archive Page
//--------------------------------------------------------------
.blog,
.archive {

	.site-header {
		margin-bottom: 0;
	} //.site-header

	.blog-header {
		@include margin(0 auto rem(60));
		@include padding(rem(20));

		background-color: $color-tango;
		color: $color-white;
		text-align: center;

		.page-title {
			margin-bottom: 0;
		} // .page-title
	} // .blog-header

	.article-wrapper {
		@include margin(null auto);
	} //.article-wrapper

	article {
		@include padding(rem(20) rem(50));

		border-radius: rem(10);
		box-shadow: 0 rem(5) rem(20) rgba($color-black, 0.1);

		.entry-meta {
			color: $color-gray;

			a {
				color: $color-robins-egg;
			} // a
		} // .entry-meta

		.read-more {
			background-color: $color-robins-egg;
			border: rem(1) solid $color-robins-egg;
			border-radius: rem(30);
			color: $color-white;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				background-color: transparent;
				color: $color-robins-egg;
				opacity: 1;
			} // &:hover, &:focus, &:active
		} // .read-more

	} // article
} // .blog
