//--------------------------------------------------------------
// Homepage
//--------------------------------------------------------------

.home {

	.projects {
		@include padding(rem(30) null 0);

		.wp-block-columns {
			@include padding(rem(30) null 0);

			justify-content: center;

			@include media($tablet-portrait) {
				.wp-block-column {
					flex-basis: 50% !important; // needed to override defaults.

					&:nth-child(2n) {
						margin-left: 0;
					} // &:nth-child(2n)
				} // .wp-block-column
			}

			@include media($tablet-landscape) {
				@include padding(rem(60) null 0);

				.wp-block-cover__inner-container {
					max-width: rem(700);

					p {
						@include padding(null rem(60));

						font-size: rem(20);
					} // p

					.wp-block-image {

						img {
							height: rem(150);
							max-width: rem(455);
							object-fit: contain;
							width: auto;
						} // img

					} // .wp-block-image

				} // .wp-block-cover__inner-container
			}
		} // .wp-block-columns
	} // .projects

	.wp-block-cover {

		&.hero {
			background-size: rem(300);

			@include media($tablet-landscape) {
				background-position: 65vw 50%;

				&::before {
					opacity: 0 !important;
				} // &::before

			}

			@include media($desktop) {
				background-position: 60vw 50%;
			}

			.content-wrapper {
				color: $color-mineshaft;
				max-width: rem(800);

				@include media($tablet-landscape) {
					width: 50%;
				}

				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
					@include padding(rem(100) 0);
				} // iPad Pro Landscape.
			} // .content-wrapper
		} // &.hero

		&.rapidpass {
			background-size: rem(650);

			@include media($tablet-landscape) {
				background-position: -60% 0;
			}

			@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
				background-position: -20% 0;
			} // iPad Pro Landscape.

			@include media($tablet-landscape) {
				&::before {
					opacity: 0 !important;
				} // &::before
			}

			@include media($desktop) {
				background-position: 15% 0;
			}

			.content-wrapper {
				padding-bottom: 0;

				.wp-block-media-text {
					position: relative;

					@include media(null, $tablet-landscape) {
						grid-template-columns: 100% !important;
					}

					.wp-block-media-text__media {
						background-position: 0 0;
						display: none;

						@include media($tablet-landscape) {
							display: block;

							img {
								@include position(absolute, 0 null null -5%);

								width: rem(700);
							}
						}

					} // .wp-block-media-text__media

					.wp-block-media-text__content {
						@include padding( null 0 rem(50));

						@include media(null, $tablet-landscape) {
							grid-column: 1 ;
							grid-template-columns: 100% !important;
						}

						@include media($tablet-landscape) {
							@include padding( null 0 rem(50) null);
						}

					} // .wp-block-media-text__content

				} // .wp-block-media-text

			} // .content-wrapper

			.wp-block-button {
				a {
					border: rem(2) solid $color-gigas;

					&:hover,
					&:focus,
					&:active {
						background-color: transparent !important;
						color: $color-gigas;
						opacity: 1;
					} // &:hover, &:focus, &:active
				} // a
			} // .wp-block-button
		} // &.rapidpass

		&.tracecovid {
			background-size: rem(1024) auto;

			@include media($tablet-landscape) {
				background-position: top right;

				&::before {
					opacity: 0 !important;
				} // &::before

			}

			.content-wrapper {
				max-width: rem(800);

				@include media($tablet-landscape) {
					width: 60%;
				}

				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
					@include padding(rem(100) 0);
				} // iPad Pro Landscape.
			} // .content-wrapper

			.wp-block-button {
				a {
					border: rem(2) solid $color-tango;

					&:hover,
					&:focus,
					&:active {
						background-color: transparent !important;
						color: $color-tango;
						opacity: 1;
					} // &:hover, &:focus, &:active
				} // a
			} // .wp-block-button
		} // &.tracecovid

		&.mission {
			background-position: 0 center;
			background-size: contain;
			color: $color-white;

			.content-wrapper {
				@include padding(rem(100) null);

				.icon-group {
					margin-top: rem(60);

					.icon-wrapper {
						@include margin(0 null);

						img {
							@include media($tablet-portrait) {
								height: rem(100);
								width: auto;
							}

							@include media($tablet-landscape) {
								height: rem(150);
							}
						} // img

						p {
							@include padding(null rem(15));
						}
					} // .icon-wrapper
				} // .icon-group
			} // .content-wrapper
		} // &.mission

	} // .wp-block-cover
} // .home
