//--------------------------------------------------------------
// Homepage
//--------------------------------------------------------------

.home {
	h2 {
		@include media($tablet-portrait) {
			font-size: rem(50);
		}
	} // h3

	h3 {
		margin-bottom: rem(30);

		@include media($tablet-portrait) {
			font-size: rem(40);
		}
	} // h3

	p {
		@include margin(rem(30) null);

		@include media($tablet-portrait) {
			font-size: rem(28);
			line-height: rem(38);
		}

		&.small {
			color: $color-gray-alt;
			font-size: rem(14);

			@include media($tablet-landscape) {
				font-size: rem(22);
			}
		} // &.small
	} // p

	.icon-wrapper {
		@include margin(rem(20) auto);

		@include media($desktop) {
			@include margin(rem(40) null);
		}

		.wp-block-column {
			@include margin(rem(20) auto 0);

			img {
				height: auto;
				max-width: rem(100);

				@include media($tablet-portrait) {
					height: rem(100);
					width: auto;
				}

				@include media($tablet-landscape) {
					height: auto;
					max-width: rem(150);
				}
			} // img
		} // .wp-block-column

		p {
			font-size: rem(14);
			line-height: rem(20);

			@include media($tablet-landscape) {
				font-size: rem(22);
				line-height: rem(31);
			}
		} // p
	} // .icon-wrapper

	.wp-block-buttons {
		@include margin(rem(15) null);

		.wp-block-button {
			a {
				@include padding(rem(10) rem(30));

				border-radius: rem(8);
				min-width: rem(200);
				text-decoration: none;

				@include media($tablet-portrait) {
					font-size: rem(31);
				}
			}
		} // .wp-block-button

		@include media(null, $tablet-landscape - 1) {
			@include margin(rem(5) null);

			display: flex;
			justify-content: center;
		}
	} // .wp-block-buttons

	.projects {
		@include padding(rem(30) null 0);

		@include media($desktop) {
			@include padding(rem(120) null 0);
		}

		.wp-block-columns {
			@include padding(rem(30) null 0);

			justify-content: center;

			@include media($tablet-portrait) {
				.wp-block-column {
					flex-basis: 50% !important; // needed to override defaults.

					&:nth-child(2n) {
						margin-left: 0;
					} // &:nth-child(2n)
				} // .wp-block-column
			}

			@include media($tablet-landscape) {
				@include padding(rem(60) null 0);

				.wp-block-cover__inner-container {
					p {
						@include padding(null rem(60));
					} // p
				} // .wp-block-cover__inner-container
			}
		} // .wp-block-columns
	} // .projects

	.wp-block-cover {
		.content-wrapper {
			@include padding(rem(50) $space);

			text-align: center;

			@include media(null, $desktop) {
				margin-left: 0 !important;

				&.wp-block-column {
					flex-basis: auto !important;
				} // &.wp-block-column

				.wp-block-image {
					@include margin(0 auto rem(20));

					img {
						height: auto;
					}
				} // .wp-block-image
			}

			@include media($desktop) {
				@include margin(0 0 0 45%);
				@include padding(rem(100) 0);

				max-width: rem(800);
				text-align: left;
			}

			@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
				@include margin(0 0 0 45%);
				@include padding(rem(10) 0);
			} // iPad Pro Landscape.
		} // .content-wrapper

		&.hero {
			background-position: 80% rem(50);
			background-size: rem(400);

			@include media($desktop) {
				&::before {
					opacity: 0 !important;
				} // &::before
			}

			.content-wrapper {
				@include padding(rem(30) null);

				color: $color-mineshaft;

				@include media($desktop) {
					@include padding(rem(55) null 0);

					margin-left: 10%;
					max-width: rem(850);
				}

				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
					@include margin(0 0 0);
					@include padding(rem(100) 0);
				} // iPad Pro Landscape.
			} // .content-wrapper
		} // &.hero

		&.rapidpass {
			background-position: 100px bottom;
			background-size: cover;

			@include media($tablet-portrait) {
				background-size: contain;
			}

			@include media($tablet-landscape) {
				background-position: rem(-300) bottom;
			}

			@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
				background-position: left bottom;
			} // iPad Pro Landscape.

			@include media($desktop) {
				&::before {
					opacity: 0 !important;
				} // &::before
			}

			@include media($desktop-large) {
				background-position: 10% bottom;
			}

			.content-wrapper {
				@include media($desktop-large) {
					margin-left: rem(850);
				}

				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
					@include margin(0 0 0 rem(750));
					@include padding(rem(100) 0);
				} // iPad Pro Landscape.

				@include media($tablet-landscape) {
					margin-left: rem(400);
					padding-left: 0;
				}
			} // .content-wrapper
		} // &.rapidpass

		&.tracecovid {
			background-position: right bottom;
			background-size: cover;

			@include media($desktop) {
				background-size: contain;

				&::before {
					opacity: 0 !important;
				} // &::before
			}

			.content-wrapper {
				@include media($desktop) {
					margin-left: 10%;
				}

				@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
					@include margin(0 0 0);
					@include padding(rem(100) 0);
				} // iPad Pro Landscape.
			} // .content-wrapper
		} // &.tracecovid

		&.mission {
			background-position: 0 center;
			background-size: contain;
			color: $color-white;

			.content-wrapper {
				@include margin(null auto);

				@include media($desktop) {
					max-width: 80%;
				}

				.icon-group {
					margin-top: rem(60);

					@include media($desktop) {
						margin-top: rem(140);
					}

					.icon-wrapper {
						margin-bottom: 0;

						img {
							@include media($tablet-portrait) {
								height: rem(100);
								width: auto;
							}

							@include media($tablet-landscape) {
								height: rem(150);
							}
						} // img

						p {
							@include padding(null rem(15));
						}
					} // .icon-wrapper
				} // .icon-group
			} // .content-wrapper
		} // &.mission

		&.volunteer {
			.block-wrapper {
				@include padding(rem(50) $space);

				text-align: center;

				@include media($desktop) {
					@include padding(rem(100) 15% null);

					text-align: left;

					p {
						font-size: rem(24);
					}
				}

				.block-content-wrapper {
					flex-direction: column;
					text-align: center;

					@include media($desktop-large) {
						flex-direction: row;
						text-align: left;
					}
				} // .block-content-wrapper

				.icon-wrapper {
					@include margin(0 null);

					flex-wrap: wrap;

					.wp-block-column {
						margin-top: 0;

						@include media($desktop) {
							max-width: rem(200);
							min-width: rem(150);
						}

						figure {
							height: 100%;
							overflow: hidden;
							text-align: center;
							width: 100%;

							img {
								height: 100%;
								max-width: rem(100);
								object-fit: contain;
								object-position: center;
								width: 100%;

								@include media($desktop) {
									max-width: rem(120);
								}
							} // img
						}
					} // .wp-block-column

					p {
						font-size: rem(14);

						@include media($desktop) {
							font-size: rem(22);
						}
					} // p
				} // .icon-wrapper

				.wp-block-button {
					a {
						@include padding(null rem(15));

						border-radius: rem(44);

						@include media($tablet-landscape) {
							@include padding(null rem(55));
						}
					}
				} // .wp-block-button
			} // .block-wrapper
		} // &.volunteer
	} // .wp-block-cover
} // .home
