//--------------------------------------------------------------
// Volunteer Profile Page
//--------------------------------------------------------------
.page-template-template-volunteer {

	.site-header {
		margin-bottom: 0;
	} //.site-header

	.entry-header {

		.entry-title {
			margin-bottom: 0;
			font-weight: bold;
		} 
	} // .entry-header

	.entry-content {
		margin-top: 0; 
		border-bottom: 2px solid $color-blue;
		
		figure.wp-block-image img {
			min-height: 300px;
			box-shadow: 0 rem(5) rem(20) rgba($color-black, 0.1);
		}

		.wp-block-group {
			margin: rem(15) rem(0);
			padding: rem(20);
			box-shadow: 0 rem(5) rem(20) rgba($color-black, 0.1);

			span {
				display: inline-block;
				margin: 5px;
				padding: 8px;
				box-shadow: 0 rem(2) rem(10) rgba($color-black, 0.1);
				border-radius: 5px;
			}
			span.volunteer-project {
				color: white;
				background-color: $color-tango;
			}

			span.volunteer-team {
				background-color: $color-corn;
			}

			span.volunteer-skill {
				background-color: $color-limeaid;
			}

			span.volunteer-technology {
				background-color: $color-lime-green;
			}

			.volunteer-linkedin a {
				color: $color-gigas;
			}
		}
	}

} // .page-template-template-volunteer
