//--------------------------------------------------------------
// Volunteer Profile Page
//--------------------------------------------------------------
.page-template-template-volunteer {

	.site-header {
		margin-bottom: 0;
	} //.site-header

	.entry-header {

		.entry-title {
			margin-bottom: 0;
			font-weight: bold;
		} 
	} // .entry-header

	.entry-content {

		figure.wp-block-image img {
			border-radius: 50%;
			min-height: 300px;
			box-shadow: 0 rem(5) rem(20) rgba($color-black, 0.1);
		}

		.wp-block-group {
			margin: rem(15) rem(0);
			padding: rem(20);
			box-shadow: 0 rem(5) rem(20) rgba($color-black, 0.1);

			.span.volunteer-project {
				margin: 5px;
				background-color: $color-tango;
				padding: 10px;
				box-shadow: 0 rem(2) rem(10) rgba($color-black, 0.1);
			}

			.span.volunteer-team {
				margin: 5px;
				background-color: $color-corn;
				padding: 10px;
				box-shadow: 0 rem(2) rem(10) rgba($color-black, 0.1);
			}

			.span.volunteer-skill {
				margin: 5px;
				background-color: $color-lime-green;
				padding: 10px;
				box-shadow: 0 rem(2) rem(10) rgba($color-black, 0.1);
			}

			.span.volunteer-technology {
				margin: 5px;
				background-color: $color-limeaid;
				padding: 10px;
				box-shadow: 0 rem(2) rem(10) rgba($color-black, 0.1);
			}
		}
	}

} // .page-id-808 volunteer-template
