//--------------------------------------------------------------
// Homepage
//--------------------------------------------------------------

.home {

	.hero {

		.wp-block-media-text__media {

			img {
				@include padding(rem(30));

				height: auto;
				width: 100%;

				@include media($tablet-portrait) {
					height: auto;
					padding: 0;
				}
			} // img

		} // .wp-block-media-text__media


		@include media($tablet-portrait) {

			.wp-block-media-text__media {
				display: flex;
				justify-content: center;
			} // .wp-block-media-text__media

			.wp-block-media-text__content {
				padding-left: 0;

				p {
					font-size: rem(26);
				} // p
			} // .wp-block-media-text__content
		}
	} // .hero
} // .home
