//--------------------------------------------------------------
// Footer Navigation.
//--------------------------------------------------------------

.footer-navigation {
	@include margin(rem(12) auto);

	align-items: center;
	display: flex;
	justify-content: center;

	ul {
		max-width: $max-width;

		li {
			display: inline;

			a {
				@include margin(null rem(20));

				font-size: rem(16);
			} // a
		} // li
	} // ul
} // .footer-navigation
