/* Gutenberg Settings and Styles */
/* Main column width */
.wp-block {
    max-width: 1920px;
}
 
/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1920px;
}
 
/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}
