//--------------------------------------------------------------
// Media Query Breakpoints and Grid Options
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

//-----------------------------------------
// Grid Values – Used for general Sass/styling. Note the rem values!
//-----------------------------------------
$max-width: rem(1180);

///-----------------------------------------
// Breakpoints – Used for Media Query Mixins only. Note the px values!
//-----------------------------------------

/// Standard Desktops and Larger Laptops.
$desktop: 1200px;

/// Wide Screens.
$desktop-large: 1360px;

/// Container width.
$container: 1180px;

/// Container width, $contaner plus $gutter padding.
$container-offset: 1220px;

/// Smaller Desktops and Standard iPad Tablet.
$tablet-landscape: 1024px;

/// Breakpoint for WP Admin Bar.
$wp-admin-bar: 783px;

/// Smaller Tablets and Standard iPad Portrait.
$tablet-portrait: 768px;

/// Phones Smaller Than 500px in Width.
$phone: 360px;

/// Phones Smaller Than 500px in Width.
$phone-large: 375px;

//-----------------------------------------
// Numeric values for padding/margin helper classes.
//-----------------------------------------
$spacing-options: 15, 20, 30, 35, 40, 50, 100;

//-----------------------------------------
// Default width of the gutters
// Used for padding on mobile.
//-----------------------------------------
$gutter: rem(15);

//-----------------------------------------
// Spacer
// Utilized anywhere spacing is set.
//-----------------------------------------
$space: rem(24);
