$z-index-99: -99;
$z-index-1: -1;
$z-index0: 0 !default;
$z-index1: 1;
$z-index2: 2;
$z-index3: 3;
$z-index4: 4;
$z-index5: 5;
$z-index10: 10;
$z-index20: 20;
$z-index30: 30;
$z-index40: 40;
$z-index50: 50;
$z-index60: 60;
$z-index70: 70;
$z-index80: 80;
$z-index90: 90;
$z-index1000: 1000;
$z-index2000: 2000;
$z-index5000: 5000;
$z-index6000: 6000;
$z-index7000: 7000;
$z-index8000: 8000;
$z-index9000: 9000;
$z-index9999: 9999;
$z-index100000: 100000;
$z-index999999: 999999;
