//--------------------------------------------------------------
// Scaffolding Library
//--------------------------------------------------------------

//-----------------------------------------
// Scaffolding defaults
//-----------------------------------------
.section-scaffolding {
	margin: 2rem auto;
}

.scaffolding-button {
	border: none;
}

.scaffolding-document {
	margin-bottom: $gutter * 2;

	// The section <header>
	&-header {
		border-bottom: rem(1) solid $color-border-scaffolding;
		margin-bottom: $gutter;
		padding-bottom: $gutter;

		// The title.
		h3 {
			@include margin(0 rem(30) 0 0);
			@include padding(0);
		} // h2

		// The text.
		p {
			font-style: italic;
			margin-top: rem(12);
		} // p
	} // .scaffolding-section-header

	// The section content <div>
	&-content {
		display: none;

		// Reset.
		h4,
		p {
			@include margin($gutter 0);
		} // h4, p

		// The <code> container.
		code {
			@include padding(rem(5));

			background-color: $color-background-code;
			font-size: rem(13);
		} // code
	} // &-content

	// Always display the global scaffolding.
	&.scaffolding-colors,
	&.scaffolding-fonts {
		.scaffolding-document-content {
			display: block;
		} // .scaffolding-document-content
	} // &.scaffolding-colors, &.scaffolding-fonts
} // .scaffolding-document

//-----------------------------------------
// Color swatch defaults
//-----------------------------------------
.swatch-container {
	position: relative;

	// Each swatch.
	.swatch {
		display: flex;
		flex-direction: column;
		height: rem(150);
		justify-content: center;
		margin-bottom: $gutter;
		overflow: hidden;
		text-align: center;

		// The swatch <header>
		& header {
			align-content: center;
			color: $color-scaffolding;
			display: flex;
			flex-direction: column;
			height: calc(100% - rem(39));
			justify-content: center;
		} // header

		// The swatch <footer>
		& footer {
			@include padding(rem(10));

			align-self: center;
			background-color: $color-background-scaffolding;
			font-size: rem(12);
			width: 80%;
		} // footer
	} // .swatch
} // .swatch-container
