//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------

.site-header {
	@include padding(rem(20) null);

	background-color: $color-white;
	box-shadow: 0 0 rem(4) 0 rgba($color-black, 0.25);
	flex: 0 0 100%;
	margin-bottom: rem(30);
	width: 100%;

	@include media($tablet-portrait) {
		margin-bottom: rem(65);
	}

	// Header Wrapper.
	.header-wrapper {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
	} // .header-wrapper

	// Site logo.
	.site-branding {
		flex: 0 0 auto;
		width: 85%;

		@include media($tablet-portrait) {
			margin-right: auto;
			width: 90%;
		}

		@include media($tablet-landscape) {
			flex: 1 0 auto;
			max-width: rem(300);
			width: auto;
		}

		// Don't let the logo get out of control.
		img {
			@include media($tablet-portrait, $tablet-landscape) {
				width: 50%;
			}
		} // img
	} // .site-branding

	//-----------------------------------------
	// Site Title.
	//-----------------------------------------
	.site-title {
		font-size: rem(48);

		// Align next to the logo on mid-size screens.
		@include media($tablet-portrait, $tablet-landscape) {
			@include margin(0);

			width: 50%;
		}
	} // .site-title

	//-----------------------------------------
	// Site Description.
	//-----------------------------------------
	.site-description {
		@include margin(0 0 $space 0);

		font-size: $space;

		@include media($tablet-portrait, $tablet-landscape) {
			clear: both;
		}
	} // .site-description

	//-----------------------------------------
	// Header action container — Form Dropdown.
	//-----------------------------------------
	.site-header-action {
		flex: 0 0 auto;
		max-width: rem(170);
		width: 100%;

		@include media($tablet-landscape) {
			margin-left: auto;
			width: 35%;
		}

		@include media($desktop) {
			flex: 1 0 auto;
			width: auto;
		}
	} // .site-header-action

	//-----------------------------------------
	// Site header action cta buttons.
	//-----------------------------------------
	.site-header-action {
		text-align: left;

		@include media($tablet-landscape) {
			text-align: right;
		}

		// Span the button the full width.
		.button-link,
		.cta-button {
			background-color: transparent;
			border: rem(1) solid $color-limeaid;
			border-radius: rem(4);
			color: $color-limeaid;
			font-size: rem(16);
			font-weight: 600;
			line-height: rem(20);
			text-align: center;
			text-decoration: none;

			&:visited {
				color: $color-limeaid;
			} // &:visited

			&:hover,
			&:focus,
			&:active {
				background-color: $color-limeaid;
				color: $color-white;
			} // &:hover, &:focus, &:active
		} // .button-link, .cta-button
	} // .site-header-action

	//-----------------------------------------
	// Site header Action Searchform.
	//-----------------------------------------
	.site-header-action {

		.form-container {
			max-height: 0;
			overflow: hidden;
			transition: $transition-height;

			.search-form {
				@include padding($space / 2);

				background-color: $color-white;
				border: rem(1) solid $color-gallery;
				display: none;
			} // .search-form

			// If the body class is there, show the form.
			.search-form-visible & {
				display: block;
				max-height: rem(150);

				.search-form {
					display: block;
				}
			} // .search-form-visible &
		} // .form-container
	} // .site-header-action

	//-----------------------------------------
	// Main Navigation Container.
	//-----------------------------------------
	.main-navigation {
		flex: 1 0 auto;
		width: auto;
	} // .main-navigation
} // .site-header
