//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

//-----------------------------------------
// Full-width Helper
//-----------------------------------------
.site-main {
	@include margin(null null $gutter * 2 null);

	width: 100%;

	&.acf-content-blocks {
		@include margin(0 null);
	} // &.acf-content-blocks

	// Styles internal elements to max-width unless it's full-width.
	> *:not(.full-width) {
		// @include margin($gutter * 2 auto);

		max-width: $max-width;

		&.container-width {
			@include margin(0 auto);
		} // &.container-width
	} // > *:not(.full-width)

	// Post elements.
	.hentry {
		@include margin(0 auto $space * 2);

		max-width: $max-width;

		&:last-of-type {
			margin-bottom: 0;
		} // &:last-child
	} // .hentry

	// Full-screen elements. Ignores sidebar issues.
	.full-width:not(.content-block) {
		@include full-width;
	} // .full-width
} // .site-main

//-----------------------------------------
// Bound Container at $container width
//-----------------------------------------
.container {
	@include margin(null auto);
	@include padding(null $gutter);

	max-width: $max-width;
	position: relative;

	@include media($container-offset) {
		@include padding(0);
	}

	.alignfull & {
		padding: 0;

		@include media($tablet-landscape) {
			@include padding(rem(32) rem(30));
		}
	}
} // .container

// Adjusts padding for non-full-width content blocks with backgrounds.
.content-block.has-background {
	.container {
		@include media($container-offset) {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}

//-----------------------------------------
// Site Layout Wrapper and Grid Elements
// and Grid Layout Wrapper
//-----------------------------------------
.site-wrapper,
.display-flex {
	display: flex;
	flex: 0 0 100%;
	flex-flow: row wrap;
	width: 100%; // For IE11.

	&.center {
		justify-content: center;
	} // .display-flex.center

	&.end {
		justify-content: flex-end;
	} // .display-flex.end

} // .site-wrapper, .display-flex


//-----------------------------------------
// Site Article
// Flex
//-----------------------------------------

article {
	&.display-flex {
		display: inherit;

		@include media($desktop) {
			display: flex;
			justify-content: space-between;
		}

		.header-wrap {
			margin-left: auto;
			margin-right: auto;

			@include media($desktop) {
				margin-left: initial;
				margin-right: initial;
			}
		}

		.entry-header {
			max-width: 100%;
		}
	}
}
